*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
/*女士主页*/
.ladybg{
    background-image: url("../images/ladybg.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    position: relative;
    z-index: -9999;
    font-family: "微软雅黑", "黑体";
}
.lady_title{
    position: absolute;
    left: 570px;
    top: 68px;
    font-family: "微软雅黑", "黑体";
    color: black;
    font-size: 30px;
    font-weight: bold;
}

/*女士主页菜单*/
.lady_menu{
    position: fixed;
    top:75px;
    left: 65px;
}
.lady_menu_title{
    font-size: 24px;
    font-weight: bold;
    font-family: Tahoma;
}
.lady_menu_title a{
     color: black;
}

.lady_menu_secondtitle{
    font-family: Tahoma;
    font-size: 15px;
    margin-top: 13px;
}

.lady_menu_sonmenu1{
    font-family: Tahoma;
    margin-top: 5px;
    margin-left: 19px;
    line-height: 23px;
}
.lady_menu_sonmenu1 li{
    color: #605b49;
}
.lady_menu_sonmenu1 li a{
    color: #605b49;
}

.lady_menu_sonmenu1 li a:hover{
    color: #333333;
}

.lady_menu_secondtitle2{
    margin-top: 25px;
    color: #605b49;
    font-family: Tahoma;
}
.lady_menu_secondtitle2 a{
    color: #605b49;
}

.lady_menu_secondtitle2 a:hover{
    color: #333333;
}

.lady_menu_sonmenu2{
    margin-top: 5px;
    margin-left: 19px;
    line-height: 22px;
    font-family: Tahoma;
}

.lady_menu_sonmenu2 li{
    color: #605b49;
    letter-spacing: 1px;
}
.lady_menu_sonmenu2 li a{
    color: #605b49;
}
.lady_menu_sonmenu2 li a:hover{
    color: #333333;
}

.lady_menu_sonmenu3{
    margin-top: 5px;
    line-height: 22px;
    font-family: Tahoma;
}

.lady_menu_sonmenu3 li a{
    color: #605b49;
    letter-spacing: 1px;
}
.lady_menu_sonmenu3 li a:hover{
    color: #333333;
}



/*女士主页菜单end*/

/*女士主页图片*/
.lady_wrap{
    width: 828px;
    height: 2455px;
    position: relative;
    margin-left: 250px;
    margin-top: 130px;
}

/*蒙版*/
.lady_mengban{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    /*float: left;*/
}

.lady_mengban:hover{
    opacity: 0.2;
    transition: all 0.2s linear;
}
/*蒙版 end*/

/*图片文字介绍样式*/
.lady_img_text1_english{
    color: white;
    font-size: 25px;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: -1;
    line-height: 260px;
    font-family: "Arial";
}
.lady_img_text1_chinese{
    color: white;
    font-size: 20px;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: -1;
    line-height: 330px;
    font-family: Tahoma;
}

.lady_img_text2_english{
    color: white;
    font-size: 25px;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: -1;
    line-height: 500px;
    font-family: "Arial";
}
.lady_img_text2_chinese{
    color: white;
    font-size: 20px;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: -1;
    line-height:570px;
    font-family: Tahoma;
}

.lady_img_text3_english{
    color: white;
    font-size: 25px;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: -1;
    line-height: 250px;
    font-family: "Arial";
}
.lady_img_text3_chinese{
    color: white;
    font-size: 16px;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: -1;
    line-height:310px;
    font-family: Tahoma;
}

/*图片文字介绍end*/
.lady_women_collection_box{
    width: 828px;
    height: 308px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.lady_women_collection_img{
    width: 828px;
    height: 308px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_fashionshow_box{
    width: 549px;
    height: 536px;
    text-align: center;
    position: absolute;
    top: 309px;
    left: 0;
}
.lady_women_fashionshow_img{
    width: 549px;
    height: 536px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_peekaboo_box{
    width: 275px;
    height: 267px;
    text-align: center;
    position: absolute;
    top: 309px;
    left: 550px;
}
.lady_women_peekaboo_img{
    width: 275px;
    height: 267px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_bytheway_box{
    width: 275px;
    height: 267px;
    text-align: center;
    position: absolute;
    top: 578px;
    left: 550px;
}
.lady_women_bytheway_img{
    width: 275px;
    height: 267px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_jours_box{
    width: 275px;
    height: 240px;
    text-align: center;
    position: absolute;
    top: 846px;
    left: 0;
}
.lady_women_jours_img{
    width: 275px;
    height: 240px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_selleria_box{
    width: 273px;
    height: 240px;
    text-align: center;
    position: absolute;
    top: 846px;
    left: 276px;
}
.lady_women_selleria_img{
    width: 273px;
    height: 240px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_baguette_box{
    width: 274px;
    height: 242px;
    text-align: center;
    position: absolute;
    top: 846px;
    left:551px;
}
.lady_women_baguette_img{
    width: 273px;
    height: 242px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_mircobags_box{
    width: 274px;
    height: 262px;
    text-align: center;
    position: absolute;
    top: 1088px;
    left:0px;
}
.lady_women_mircobags_img{
    width: 273px;
    height: 262px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_bags_box{
    width: 274px;
    height: 262px;
    text-align: center;
    position: absolute;
    top: 1351px;
    left:0px;
}

.lady_women_bags_img{
    width: 273px;
    height: 262px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_wonders_box{
    width: 549px;
    height: 525px;
    text-align: center;
    position: absolute;
    top: 1088px;
    left: 275px;
}
.lady_women_wonders_img{
    width: 549px;
    height: 525px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_wallets_box{
    width: 274px;
    height: 262px;
    text-align: center;
    position: absolute;
    top: 1615px;
    left:0px;
}
.lady_women_wallets_img{
    width: 273px;
    height: 262px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_shoes_box{
    width: 274px;
    height: 262px;
    text-align: center;
    position: absolute;
    top: 1615px;
    left:274px;
}
.lady_women_shoes_img{
    width: 273px;
    height: 262px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_sunglass_box{
    width: 274px;
    height: 262px;
    text-align: center;
    position: absolute;
    top: 1615px;
    left:549px;
}
.lady_women_sunglass_img{
    width: 273px;
    height: 262px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}


.lady_women_acciesories_box{
    width: 548px;
    height: 525px;
    text-align: center;
    position: absolute;
    top: 1879px;
    left: 0;
}
.lady_women_acciesories_img{
    width: 548px;
    height: 525px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_textiles_box{
    width: 274px;
    height: 262px;
    text-align: center;
    position: absolute;
    top: 1879px;
    left:549px;
}
.lady_women_textiles_img{
    width: 273px;
    height: 262px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.lady_women_belts_box{
    width: 274px;
    height: 262px;
    text-align: center;
    position: absolute;
    top: 2142px;
    left:549px;
}
.lady_women_belts_img{
    width: 273px;
    height: 262px;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

/*女士主页图片 end*/
/*女士主页 end*/

/*男士主页*/
.manbg{
    background-image: url("../images/manbg.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    position: relative;
    z-index: -9999;
    font-family: "微软雅黑", "黑体";
}
.man_title{
    position: absolute;
    left: 570px;
    top: 68px;
    font-family: "微软雅黑", "黑体";
    color: black;
    font-size: 30px;
    font-weight: bold;
}

/*男士图片展示*/
.man_wrap{
   /*position: absolute;*/
    /*position: relative;*/
    /*left: 250px;*/
    /*top: 130px;*/
    margin-top: 130px;
    margin-left: 250px;
    /*border: 1px solid black;*/
    width: 826px;
}
.man_img1{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}
.man_box1{
    width: 826px;
    height: 579px;
    margin-top: 1px;
    position: relative;

}

.man_box1_img1_box{
    width: 552px;
    height: 579px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
}

.man_box1_img2_box{
    width: 273px;
    height: 289px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    left: 553px;
    top: 0;
}

.man_box1_img3_box{
    width: 273px;
    height: 289px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    left: 553px;
    top: 290px;
}


.man_box2_img1_box{
    width: 273px;
    height: 289px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
}

.man_box2_img2_box{
    width: 273px;
    height: 289px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    left: 0;
    top: 290px;
}

.man_box2_img3_box{
    width: 552px;
    height: 579px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    left: 274px;
    top: 0;
}

/*男士图片展示 end*/
/*男士主页 end*/


/*时尚配饰*/
.man_img2{
    width: 100%;
    height: 100%;
}
.man_imgbox1{
    width: 826px;
    height: 423px;
    position: relative;
    margin-top: 1px;
}
.man_imgbox2{
    position: relative;
    width: 826px;
    height: 211px;
    margin-top: 1px;
}
.man_imgbox1_img1{
    width: 551px;
    height: 423px;
    position:absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.21);
}
.man_imgbox1_img2{
    width: 275px;
    height: 211px;
    position:absolute;
    top:0;
    left: 552px;
    background: rgba(255, 255, 255, 0.21);
}

.man_imgbox1_img3{
    width: 275px;
    height: 211px;
    margin-top: 1px;
    position:absolute;
    top: 212px;
    left: 552px;
    background: rgba(255, 255, 255, 0.21);
}

.man_imgbox2_img1{
    width: 275px;
    height: 211px;
    position:absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.21);
}
.man_imgbox2_img2{
     width: 275px;
     height: 211px;
     position:absolute;
     top: 0;
     left: 276px;
    background: rgba(255, 255, 255, 0.21);
 }

.man_imgbox2_img3{
    width: 275px;
    height: 211px;
    position:absolute;
    top: 0;
    left: 552px;
    background: rgba(255, 255, 255, 0.21);
}


.man_imgbox3_img1{
    width: 275px;
    height: 211px;
    margin-top: 1px;
    position:absolute;
    top:0;
    left:0;
    background: rgba(255, 255, 255, 0.21);
}

.man_imgbox3_img2{
    width: 275px;
    height: 211px;
    margin-top: 1px;
    position:absolute;
    top: 212px;
    left: 0;
    background: rgba(255, 255, 255, 0.21);
}

.man_imgbox3_img3{
    width: 551px;
    height: 423px;
    position:absolute;
    top: 0;
    left: 276px;
    background: rgba(255, 255, 255, 0.21);
}
/*时尚配饰 end*/


/*男士商品展示*/
.manprodectshow_wrap{
    width: 890px;
    height: 602px;
    margin-top: 80px;
    margin-left: 246px;
    position: relative;
}
.manprodectshow_bigimg{
    width: 610px;
    height: 470px;
}

/*男士商品小图片*/
.manprodectshow_imgul{
    width: 280px;
    height: 50px;
    margin-left: 150px;
}
.manprodectshow_imgul li{
    float: left;
    width: 60px;
    height: 46px;
    border: 2px solid silver;
    margin-left: 6px;
    opacity: 0.6;
}
.manprodectshow_img{
     width: 100%;
    height: 100%;
}

/*男士商品小图片 end*/

.manprodect_name{
    font-size: 25px;
    font-family:helvetica;
    position: absolute;
    width: 60px;
    /*border: 1px solid black;*/
    left: 590px;
    top: 80px;
}

.manprodect_price_unit{
    font-size: 28px;
    color: #ff2f57;
    position: absolute;
    left: 590px;
    top: 150px;
}
.manprodect_price{
    font-size: 28px;
    color: #ff2f57;
    position: absolute;
    left: 616px;
    top: 150px;
}
.manprodect_information_title{
    position: absolute;
    left: 590px;
    top: 200px;
}
.manprodect_information{
    position: absolute;
    width: 230px;
    left: 590px;
    top: 220px;
    line-height: 20px;
    color: #6e6e6e;
    font-family: "微软雅黑";
}

.add_shopping{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 590px;
    top: 400px;
    border: 1px solid #886308;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    background: #c5900c;
}

.add_shopping:hover{
    background: #f0b00d;
}
/*男士商品展示 end*/

